* {
    margin: 0;
    padding: 0;

}

#iphone_screen {
    width: 99.8%;
    height: auto;
    padding-top: 44px;
    
    /* border: 1px solid red; */
}

#iSubNav {
    /* border: 2px solid green; */
    width: 100%;
    height: 72px;
    background-color: rgb(28, 39, 57);

    /* display: flex;
    justify-content: space-between; */
    font-size: 15px;

    margin: auto;
}

#iSubNav_main {
    /* border: 1px solid red; */
    /* width: 50%; */
    height: 72px;
    padding: 16px 0px;



    margin: auto;
    /* margin-left: 80px; */
}

#iSubNav_text>p {
    width: 52%;
    color: rgb(240, 227, 202);
    letter-spacing: 0.1px;
    font-family: "SF Pro Text";
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;  
    font-family: "SF Pro Text";
    /* border: 1px solid; */
    text-align: center;
    margin: auto;
}

#iSubNav_text>p>span {

    color: rgb(243, 154, 69);
    font-family: "SF Pro Text";
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-family: "SF Pro Text";
    /* border: 1px solid green; */
    text-align: center;

    cursor: pointer;
}

#iSubNav_text>p>span:hover {
    text-decoration: underline;
}

#store_main {

    /* border: 1px solid black; */
    height: auto;
    width: 100%;
    background-color: rgb(245, 245, 247);

}

#iphone_h1 {
    height: 225px;
    width: 82.4%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* padding-top: 70px; */
}

#i_h1_right {
    /* border: 1px solid red; */
    width: 55.4%;
    height: 52px;
    padding: 80px 0px 64px 0px;
    letter-spacing: 0.144px;
    font-family: "SF Pro";

    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    color: rgb(29, 29, 31);

    text-align: left;

    cursor: pointer;
}

#i_h1_left {
    padding: 90px 0px 45px 0px;
}

#i_h1_left_top,
#i_h1_left_bottom {
    display: flex;
    justify-content: flex-end;
    /* margin-top: 16px; */

}

#ih1_l_t_text,
#ih1_l_b_text {

    width: 175px;
}

#ih1_l_t_text>p,
#ih1_l_b_text>p {
    margin-left: 8px;
    color: rgb(29, 29, 31);
    cursor: text;
    letter-spacing: -0.224px;
    font-family: "SF Pro";

    font-weight: 600;
    font-size: 15px;
    line-height: 20px;


    text-align: left;
}


#ih1_l_t_text>p:nth-child(2),
#ih1_l_b_text>p:nth-child(2) {
    color: rgb(0, 102, 204);
    cursor: pointer;
    letter-spacing: -0.224px;
    font-family: "SF Pro";

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;


    text-align: left;


}

#ih1_l_t_text>p:nth-child(2):hover,
#ih1_l_b_text>p:nth-child(2):hover {
    text-decoration-line: underline;
}

#ih1_l_t_img,
#ih1_l_b_img {
    /* border: 1px solid black; */
    border-radius: 4px;
    width: 22px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 6px 0px 0px;
}

#iscroll_1 {
    width: 994.5px;
    height: 60px;
    margin-bottom: 41px;
    /* border: 1px solid green; */
    /* border: 1px solid red; */
    display: flex;
    /* margin-top: 10px; */
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    padding: 0px;
}

#iscroll_1::-webkit-scrollbar {
    display: block;
}

#i_scroll_1_blank {
    /* border: 1px solid black; */
    min-width: 122px;
    height: 31px;
    text-align: center;
    margin-right: -12px;
}

#i_scroll_1_1 {
    /* border: 1px solid black; */
    width: 83px;
    height: 31px;
    margin: 5px 35px 5px 5px;
    text-align: center;
    /* margin: 0px 12px; */
    cursor: pointer;
}

#i_scroll_1_2>p,
#i_scroll_1_3>p,
#i_scroll_1_4>p,
#i_scroll_1_5>p,
#i_scroll_1_6>p {
    color: rgb(29, 29, 31);
    font-family: "SF Pro";
    font-size: 17px;
    /* border: 1px solid green; */
    line-height: 21px;
    letter-spacing: 0.25px;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
}

#i_scroll_1_1>p {
    color: rgb(29, 29, 31);
    font-family: "SF Pro";
    font-size: 17px;
    text-decoration: underline;
    /* border: 1px solid green; */
    line-height: 21px;
    letter-spacing: 0.25px;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
}

#i_scroll_1_1>p:hover,
#i_scroll_1_2>p:hover,
#i_scroll_1_3>p:hover,
#i_scroll_1_4>p:hover,
#i_scroll_1_5>p:hover,
#i_scroll_1_6>p:hover {
    /* text-decoration: underline rgb(110, 110, 115); */
    color: rgb(110, 110, 115);
}

#i_scroll_1_2 {
    /* border: 1px solid black; */
    width: 126px;
    height: 31px;
    margin: 5px 35px 5px 5px;
    text-align: center;
    /* margin: 0px 12px; */
    cursor: pointer;
}

#i_scroll_1_3 {
    /* border: 1px solid black; */
    width: 131px;
    height: 31px;
    margin: 5px 35px 5px 5px;
    text-align: center;
    /* margin: 0px 12px; */
    cursor: pointer;
}

#i_scroll_1_4 {
    /* border: 1px solid black; */
    width: 144.3px;
    height: 31px;
    margin: 5px 35px 5px 5px;
    text-align: center;
    /* margin: 0px 12px; */
    cursor: pointer;
}

#i_scroll_1_5 {
    /* border: 1px solid black; */
    width: 144.3px;
    height: 31px;
    margin: 5px 35px 5px 5px;
    text-align: center;
    /* margin: 0px 12px; */
    cursor: pointer;
}

#i_scroll_1_6 {
    /* border: 1px solid black; */
    width: 175.5px;
    height: 31px;
    margin: 5px 35px 5px 5px;
    text-align: center;
    /* margin: 0px 12px; */
    cursor: pointer;
}


#iscroll_2 {
    /* border: 1px solid black; */
    margin-top: 90px;
}

#iscroll_2>p {
    padding-left: 118px;
    color: rgb(29, 29, 31);
    letter-spacing: 0.196px;
    font-family: "SF Pro";

    font-weight: 600;
    font-size: 30px;
    line-height: 32px;

}

#iscroll_2>p>span {
    color: rgb(110, 110, 115);
}

#iscroll_2_main {
    /* border: 1px solid grey; */
    display: flex;
    overflow-x: scroll;
    padding: 25px 0px;
    cursor: pointer;
}

#iscroll_2_main::-webkit-scrollbar {
    display: none;
}

#iscroll_2_main>div {
    transition: 0.4s;
    box-shadow: 1px 1px 20px 1px rgba(200, 200, 200, 0.3);
}

#iscroll_2_main>div:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 20px 1px rgb(200, 200, 200);
}

#iscroll_2_blank {
    /* border:1px solid red; */
    min-width: 117px;
    margin-right: -10px;
}

#iscroll_2_15Pro_Max{
    background-image: url(https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-card-40-iphone15prohero-202309?wid=340&hei=264&fmt=p-jpg&qlt=95&.v=1693086290312);
    color: white;
    background-repeat: no-repeat;
    border-radius: 18px;
    min-width: 400px;
    height: 500px;
    background-position: center;
    margin: 0px 10px;
}

#iscroll_2_15_Plus {
    background-image: url(https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-card-40-iphone15hero-202309?wid=340&hei=264&fmt=p-jpg&qlt=95&.v=1693086290559);
    color: white;
    border-radius: 18px;
    min-width: 400px;
    height: 500px;
    margin: 0px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

#iscroll_2_14_Plus {
    background-image: url(https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-card-40-iphone14-202209?wid=340&hei=264&fmt=p-jpg&qlt=95&.v=1693086290654);
    color: white;
    border-radius: 18px;
    min-width: 400px;
    height: 500px;
    margin: 0px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

#iscroll_2_13 {
    background-image: url(https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-card-40-iphone13hero-202309?wid=340&hei=264&fmt=p-jpg&qlt=95&.v=1692912410963);
    color: white;
    border-radius: 18px;
    min-width: 400px;
    height: 500px;
    margin: 0px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

#iscroll_2_SE {
    background-image: url(https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-card-40-iphonese-202203?wid=340&hei=264&fmt=p-jpg&qlt=95&.v=1646415838921);
    color: white;
    border-radius: 18px;
    min-width: 400px;
    height: 500px;
    margin: 0px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

#iscroll_2_accessories {
    background-image: url(https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-card-40-accessories-202309?wid=400&hei=500&fmt=jpeg&qlt=95&.v=1692818856325);
    color: white;
    border-radius: 18px;
    min-width: 400px;
    height: 500px;
    margin: 0px 10px;
    background-repeat: no-repeat;
    background-position: center;
}



#iscroll_2_card {
    padding: 30px;
    letter-spacing: 0.8px;
    height: 63.2px;
    /* border: 1px solid red; */
}

/* #iscroll_2_card_name_W {
    color: rgb(245, 245, 247);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.12px;
    font-family: "SF Pro";



    line-height: 16px;

}

#iscroll_2_card_text_W {
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin-top: 15px;
    line-height: 32px;
    letter-spacing: 0.196px;
    font-family: "SF Pro";
}

#iscroll_2_card_price_W {
    color: white;
    font-size: 17px;
    font-weight: 400;

    line-height: 21px;
    letter-spacing: -0.374px;
    font-family: "SF Pro";
    margin-top: 8px;
} */


#iscroll_2_card_name {
    color: rgb(29, 29, 31);
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.196px;
    font-family: "SF Pro";
    /* margin-top: 10px; */



    line-height: 32px;
}

#iscroll_2_card_text {
    color:rgb(191, 72, 0);
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 16px;
    letter-spacing: -0.12px;
    font-family: "SF Pro";
}


#bottom{
    width: 100%;
    height: 36px;

    margin-top: 290px;

    padding: 0px 10px 30px 0px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}
#bottom_{
    width: 100%;
    height: 36px;

    margin-top: 328px;

    padding: 0px 10px 30px 0px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

#bottom>p,#bottom_>p{
    color: rgb(29, 29, 31);
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    /* border: 1px solid; */
    height: 100%;

    line-height: 18px;
    letter-spacing: 0px;
    font-family: "SF Pro";
    margin-top: 8px;

}
#bottom>button,#bottom_>button{
    width: 68px;
    height: 37.9px;
    background-color: rgb(0, 113, 227);
    padding: 7px 15px 9px 15px;
    border: 1px solid transparent;
    color: white;
    border-radius: 70px;
    font-family: "SF Pro";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 1px;
    /* letter-spacing: 0.374px; */
    /* border: 1px solid red; */
    margin-top: 8px;


    text-align: center;

    cursor: pointer;
}